<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1>
    Monopattini elettrici
  </h1>

  <form>

    Nome: <input #nome> <br>
    Cognome: <input #cognome> <br>
    Username: <input type = "username" #username> <br>
    Password: <input type = "password" #password> <br>
    Cartacredito: <input type = "number" #cartacredito> <br>

    <button (click)= "onClick(nome,cognome,username,password,cartacredito)"> Invia </button>

  </form>

</div>

